.shelf{position:relative;width:520px;height:20px;border-radius:1px;background-color:#5a3f21;margin-top:70px;}
.clock{width:110px;height:110px;border:10px solid #5AA668;background-color:#E9E6C9;border-radius:50%;position:absolute;-webkit-box-shadow:inset 0 0 3px #6a5757;box-shadow:inset 0 0 3px #6a5757;left:30px;top:-135px;}
.clock-face{position:relative;width:100%;height:100%;}
.knot{position:absolute;background-color:#9d374f;width:10px;height:10px;border-radius:50%;left:50%;top:50%;-webkit-transform:translate(-50%, -50%);transform:translate(-50%, -50%);z-index:99;}
.hand{width:4px;background:#47321A;position:absolute;left:50%;top:50%;-webkit-transform-origin:50% 0;transform-origin:50% 0;-webkit-transform:translate(-50%, -100%);transform:translate(-50%, -100%);}
.hour-hand{height:30px;}
.min-hand{height:40px;}
.second-hand{height:47px;width:2px;}
.clock-ear-right, .clock-ear-left{background-color:#5AA668;position:absolute;border-top-left-radius:90px;border-top-right-radius:90px;left:-38px;top:-12px;height:30px;width:60px;-webkit-transform:rotate(-50deg);transform:rotate(-50deg);}
.clock-ear-right:after, .clock-ear-left:after{content:'';position:absolute;background-color:#9d374f;width:15px;height:8px;border-top-left-radius:90px;border-top-right-radius:90px;top:-9px;left:23px;}
.clock-ear-right{left:auto;right:-38px;-webkit-transform:rotate(50deg);transform:rotate(50deg);}
.clock-foot-right, .clock-foot-left{background-color:#47321A;position:absolute;border-radius:50px;left:19px;bottom:-38px;height:34px;width:12px;-webkit-transform:rotate(30deg);transform:rotate(30deg);z-index:0;}
.clock-foot-right{left:auto;right:20px;-webkit-transform:rotate(-30deg);transform:rotate(-30deg);}
.book{position:absolute;background-color:#9d374f;width:40px;height:170px;left:210px;top:-170px;border-radius:1px;}
.book:before{content:'';background-color:#E9E6C9;position:absolute;width:100%;height:20px;top:20px;left:0;}
.book:after{content:'';position:absolute;background-color:rgba(127, 44, 64, 0.3);height:100%;width:50%;right:0;border-radius:0 2px 2px 0;}
.book:nth-of-type(2){background-color:#e86830;left:250px;height:195px;top:-195px;}
.book:nth-of-type(2):after{background-color:rgba(215, 82, 24, 0.3);}
.book:nth-of-type(3){background-color:#5AA668;left:290px;height:180px;top:-180px;}
.book:nth-of-type(3):after{background-color:rgba(75, 140, 87, 0.3);}
.cactus{left:380px;position:absolute;width:120px;height:200px;top:-120px;}
.pot{position:absolute;-webkit-perspective:200px;perspective:200px;width:100px;height:105px;top:28px;z-index:3;}
.pot-bottom{-webkit-transform:rotateX(-30deg);transform:rotateX(-30deg);background-color:#ce4f17;width:100%;height:100%;top:0px;}
.pot-top{position:absolute;background-color:#a03d12;width:130%;height:30px;left:-15%;top:0px;border-radius:2px;}
.plant-left, .plant-right{background-color:#5AA668;position:absolute;width:50px;height:100px;border-radius:50px;top:-20px;left:0;}
.plant-right{right:20px;left:auto;height:130px;top:-40px;}
.spike{position:absolute;width:5px;height:1px;background-color:#ECD590;}
.spike:nth-of-type(1){top:80px;left:35px;-webkit-transform:rotate(214deg);transform:rotate(214deg);}
.spike:nth-of-type(2){top:11px;left:21px;-webkit-transform:rotate(320deg);transform:rotate(320deg);}
.spike:nth-of-type(3){top:62px;left:22px;-webkit-transform:rotate(280deg);transform:rotate(280deg);}
.spike:nth-of-type(4){top:40px;left:39px;-webkit-transform:rotate(243deg);transform:rotate(243deg);}
.spike:nth-of-type(5){top:23px;left:2px;-webkit-transform:rotate(354deg);transform:rotate(354deg);}
.spike:nth-of-type(6){top:4px;left:23px;-webkit-transform:rotate(104deg);transform:rotate(104deg);}
.spike:nth-of-type(7){top:29px;left:37px;-webkit-transform:rotate(355deg);transform:rotate(355deg);}
.spike:nth-of-type(8){top:49px;left:47px;-webkit-transform:rotate(309deg);transform:rotate(309deg);}
.spike:nth-of-type(9){top:79px;left:11px;-webkit-transform:rotate(191deg);transform:rotate(191deg);}
.spike:nth-of-type(10){top:11px;left:33px;-webkit-transform:rotate(304deg);transform:rotate(304deg);}
.spike:nth-of-type(11){top:22px;left:8px;-webkit-transform:rotate(104deg);transform:rotate(104deg);}
.spike:nth-of-type(12){top:46px;left:30px;-webkit-transform:rotate(94deg);transform:rotate(94deg);}
.spike:nth-of-type(13){top:24px;left:9px;-webkit-transform:rotate(40deg);transform:rotate(40deg);}
.spike:nth-of-type(14){top:10px;left:42px;-webkit-transform:rotate(109deg);transform:rotate(109deg);}
.spike:nth-of-type(15){top:13px;left:25px;-webkit-transform:rotate(223deg);transform:rotate(223deg);}
.spike:nth-of-type(16){top:45px;left:20px;-webkit-transform:rotate(91deg);transform:rotate(91deg);}
.spike:nth-of-type(17){top:18px;left:40px;-webkit-transform:rotate(172deg);transform:rotate(172deg);}
.spike:nth-of-type(18){top:37px;left:19px;-webkit-transform:rotate(61deg);transform:rotate(61deg);}
.spike:nth-of-type(19){top:46px;left:14px;-webkit-transform:rotate(281deg);transform:rotate(281deg);}
.spike:nth-of-type(20){top:47px;left:16px;-webkit-transform:rotate(95deg);transform:rotate(95deg);}
.spike:nth-of-type(21){top:63px;left:40px;-webkit-transform:rotate(232deg);transform:rotate(232deg);}
.spike:nth-of-type(22){top:19px;left:26px;-webkit-transform:rotate(134deg);transform:rotate(134deg);}
.spike:nth-of-type(23){top:52px;left:11px;-webkit-transform:rotate(191deg);transform:rotate(191deg);}
.spike:nth-of-type(24){top:39px;left:4px;-webkit-transform:rotate(172deg);transform:rotate(172deg);}
.spike:nth-of-type(25){top:52px;left:9px;-webkit-transform:rotate(82deg);transform:rotate(82deg);}
.spike:nth-of-type(26){top:77px;left:6px;-webkit-transform:rotate(31deg);transform:rotate(31deg);}
.spike:nth-of-type(27){top:30px;left:31px;-webkit-transform:rotate(16deg);transform:rotate(16deg);}
.spike:nth-of-type(28){top:34px;left:11px;-webkit-transform:rotate(110deg);transform:rotate(110deg);}
.spike:nth-of-type(29){top:3px;left:15px;-webkit-transform:rotate(54deg);transform:rotate(54deg);}
.spike:nth-of-type(30){top:29px;left:46px;-webkit-transform:rotate(145deg);transform:rotate(145deg);}
.spike:nth-of-type(31){top:46px;left:48px;-webkit-transform:rotate(238deg);transform:rotate(238deg);}
.spike:nth-of-type(32){top:15px;left:17px;-webkit-transform:rotate(193deg);transform:rotate(193deg);}
.spike:nth-of-type(33){top:47px;left:27px;-webkit-transform:rotate(5deg);transform:rotate(5deg);}
.spike:nth-of-type(34){top:67px;left:27px;-webkit-transform:rotate(121deg);transform:rotate(121deg);}
.spike:nth-of-type(35){top:25px;left:17px;-webkit-transform:rotate(237deg);transform:rotate(237deg);}
.spike:nth-of-type(36){top:71px;left:23px;-webkit-transform:rotate(299deg);transform:rotate(299deg);}
.spike:nth-of-type(37){top:14px;left:12px;-webkit-transform:rotate(286deg);transform:rotate(286deg);}
.spike:nth-of-type(38){top:72px;left:27px;-webkit-transform:rotate(239deg);transform:rotate(239deg);}
.spike:nth-of-type(39){top:53px;left:12px;-webkit-transform:rotate(343deg);transform:rotate(343deg);}
.spike:nth-of-type(40){top:28px;left:46px;-webkit-transform:rotate(285deg);transform:rotate(285deg);}
.spike:nth-of-type(41){top:58px;left:27px;-webkit-transform:rotate(226deg);transform:rotate(226deg);}
.spike:nth-of-type(42){top:29px;left:47px;-webkit-transform:rotate(233deg);transform:rotate(233deg);}
.spike:nth-of-type(43){top:6px;left:17px;-webkit-transform:rotate(108deg);transform:rotate(108deg);}
.spike:nth-of-type(44){top:76px;left:5px;-webkit-transform:rotate(54deg);transform:rotate(54deg);}
.spike:nth-of-type(45){top:44px;left:35px;-webkit-transform:rotate(137deg);transform:rotate(137deg);}
.spike:nth-of-type(46){top:19px;left:6px;-webkit-transform:rotate(161deg);transform:rotate(161deg);}
.spike:nth-of-type(47){top:76px;left:19px;-webkit-transform:rotate(51deg);transform:rotate(51deg);}
.spike:nth-of-type(48){top:19px;left:41px;-webkit-transform:rotate(215deg);transform:rotate(215deg);}
.spike:nth-of-type(49){top:63px;left:33px;-webkit-transform:rotate(209deg);transform:rotate(209deg);}
.spike:nth-of-type(50){top:6px;left:46px;-webkit-transform:rotate(346deg);transform:rotate(346deg);}
.spike:nth-of-type(51){top:64px;left:38px;-webkit-transform:rotate(127deg);transform:rotate(127deg);}
.spike:nth-of-type(52){top:2px;left:34px;-webkit-transform:rotate(338deg);transform:rotate(338deg);}
.spike:nth-of-type(53){top:20px;left:19px;-webkit-transform:rotate(207deg);transform:rotate(207deg);}
.spike:nth-of-type(54){top:46px;left:32px;-webkit-transform:rotate(315deg);transform:rotate(315deg);}
.spike:nth-of-type(55){top:58px;left:18px;-webkit-transform:rotate(54deg);transform:rotate(54deg);}
.spike:nth-of-type(56){top:77px;left:26px;-webkit-transform:rotate(255deg);transform:rotate(255deg);}
.spike:nth-of-type(57){top:52px;left:23px;-webkit-transform:rotate(255deg);transform:rotate(255deg);}
.spike:nth-of-type(58){top:79px;left:25px;-webkit-transform:rotate(31deg);transform:rotate(31deg);}
.spike:nth-of-type(59){top:64px;left:35px;-webkit-transform:rotate(36deg);transform:rotate(36deg);}
.spike:nth-of-type(60){top:37px;left:40px;-webkit-transform:rotate(131deg);transform:rotate(131deg);}
.spike:nth-of-type(61){top:12px;left:35px;-webkit-transform:rotate(49deg);transform:rotate(49deg);}
.spike:nth-of-type(62){top:13px;left:27px;-webkit-transform:rotate(69deg);transform:rotate(69deg);}
.spike:nth-of-type(63){top:68px;left:4px;-webkit-transform:rotate(354deg);transform:rotate(354deg);}
.spike:nth-of-type(64){top:31px;left:1px;-webkit-transform:rotate(268deg);transform:rotate(268deg);}
.spike:nth-of-type(65){top:2px;left:20px;-webkit-transform:rotate(242deg);transform:rotate(242deg);}
.spike:nth-of-type(66){top:75px;left:17px;-webkit-transform:rotate(230deg);transform:rotate(230deg);}
.spike:nth-of-type(67){top:17px;left:44px;-webkit-transform:rotate(209deg);transform:rotate(209deg);}
.spike:nth-of-type(68){top:57px;left:50px;-webkit-transform:rotate(341deg);transform:rotate(341deg);}
.spike:nth-of-type(69){top:11px;left:12px;-webkit-transform:rotate(198deg);transform:rotate(198deg);}
.spike:nth-of-type(70){top:51px;left:14px;-webkit-transform:rotate(16deg);transform:rotate(16deg);}
.spike:nth-of-type(71){top:29px;left:24px;-webkit-transform:rotate(241deg);transform:rotate(241deg);}
.spike:nth-of-type(72){top:76px;left:17px;-webkit-transform:rotate(128deg);transform:rotate(128deg);}
.spike:nth-of-type(73){top:12px;left:50px;-webkit-transform:rotate(150deg);transform:rotate(150deg);}
.spike:nth-of-type(74){top:55px;left:2px;-webkit-transform:rotate(168deg);transform:rotate(168deg);}
.spike:nth-of-type(75){top:4px;left:17px;-webkit-transform:rotate(299deg);transform:rotate(299deg);}
.spike:nth-of-type(76){top:71px;left:46px;-webkit-transform:rotate(21deg);transform:rotate(21deg);}
.spike:nth-of-type(77){top:58px;left:19px;-webkit-transform:rotate(184deg);transform:rotate(184deg);}
.spike:nth-of-type(78){top:63px;left:41px;-webkit-transform:rotate(66deg);transform:rotate(66deg);}
.spike:nth-of-type(79){top:50px;left:13px;-webkit-transform:rotate(2deg);transform:rotate(2deg);}
.spike:nth-of-type(80){top:39px;left:28px;-webkit-transform:rotate(360deg);transform:rotate(360deg);}
.spike:nth-of-type(81){top:36px;left:18px;-webkit-transform:rotate(58deg);transform:rotate(58deg);}
.spike:nth-of-type(82){top:68px;left:20px;-webkit-transform:rotate(353deg);transform:rotate(353deg);}
.spike:nth-of-type(83){top:70px;left:26px;-webkit-transform:rotate(159deg);transform:rotate(159deg);}
.spike:nth-of-type(84){top:68px;left:49px;-webkit-transform:rotate(127deg);transform:rotate(127deg);}
.spike:nth-of-type(85){top:46px;left:38px;-webkit-transform:rotate(166deg);transform:rotate(166deg);}
.spike:nth-of-type(86){top:50px;left:17px;-webkit-transform:rotate(6deg);transform:rotate(6deg);}
.spike:nth-of-type(87){top:37px;left:18px;-webkit-transform:rotate(283deg);transform:rotate(283deg);}
.spike:nth-of-type(88){top:65px;left:48px;-webkit-transform:rotate(185deg);transform:rotate(185deg);}
.spike:nth-of-type(89){top:30px;left:16px;-webkit-transform:rotate(58deg);transform:rotate(58deg);}
.spike:nth-of-type(90){top:31px;left:42px;-webkit-transform:rotate(347deg);transform:rotate(347deg);}
.spike:nth-of-type(91){top:53px;left:50px;-webkit-transform:rotate(279deg);transform:rotate(279deg);}
.spike:nth-of-type(92){top:76px;left:28px;-webkit-transform:rotate(66deg);transform:rotate(66deg);}
.spike:nth-of-type(93){top:24px;left:18px;-webkit-transform:rotate(267deg);transform:rotate(267deg);}
.spike:nth-of-type(94){top:31px;left:3px;-webkit-transform:rotate(236deg);transform:rotate(236deg);}
.spike:nth-of-type(95){top:16px;left:19px;-webkit-transform:rotate(240deg);transform:rotate(240deg);}
.spike:nth-of-type(96){top:2px;left:28px;-webkit-transform:rotate(296deg);transform:rotate(296deg);}
.spike:nth-of-type(97){top:23px;left:21px;-webkit-transform:rotate(240deg);transform:rotate(240deg);}
.spike:nth-of-type(98){top:5px;left:34px;-webkit-transform:rotate(140deg);transform:rotate(140deg);}
.spike:nth-of-type(99){top:76px;left:49px;-webkit-transform:rotate(188deg);transform:rotate(188deg);}
.spike:nth-of-type(100){top:27px;left:10px;-webkit-transform:rotate(212deg);transform:rotate(212deg);}