@media only screen and (max-width:1700px) and (min-width:1550px){.ck-footer .ck-right-footer ul{margin-left:70px !important;}
}
@media only screen and (max-width:1550px) and (min-width:1300px){.ck-slide0-content{right:24% !important;}
    #menu .ck-left-header{padding:0;margin-right: 3px; max-width: 24%;}
    .ck-header #menu .ck-logo{width: 229px;}
    .ck-logo-first{right:32% !important;}
    #menu .menu-wrapper{margin-right:5%;}
    #menu .ck-left-header li a{margin:9px 7px !important;}
    .ck-col-container{padding:0 5% !important;}
    .ck-page-content .ck-page-rightsidebar{width:20% !important;margin-right:5.3% !important;}
    .ck-page-content .ck-page-article{width:66% !important;}
    .ck-page-article .ck-book .ck-moshahedesafahat{top:52% !important;}
    .ck-footer .ck-right-footer{margin-right:6%;}
    .ck-footer .ck-right-footer ul{margin-left:27px !important;}
    .ck-footer .ck-left-footer{    width: 41% !important;margin-left: 5%;}
    .ck-page-article .ck-book .ck-gheymat .ck-new-price{margin-right:3px !important;}
}
@media only screen and (max-width:1299px) and (min-width:1200px){.ck-slide0-content{right:18% !important;}
    .ck-logo-first{right:30% !important;}
    #menu .menu-wrapper{margin-right:18px;}
    #menu .ck-left-header li a{margin:9px 12px !important;}
    .ck-col-container{padding:0 5% !important;}
    .ck-page-content .ck-page-rightsidebar{width:21% !important;margin-right:5.3% !important;}
    .ck-page-content .ck-page-article{width:70% !important;}
    .ck-page-article .ck-book .ck-gheymat .ck-new-price{margin-right:2px !important;}
    .ck-book-content .ck-kharid-ketab h3{margin-right:23px !important;}
    .ck-book-content .ck-kharid-ketab img{margin-right:30px !important;}
    .ck-footer .ck-right-footer{margin-right:6%;}
    .ck-footer .ck-right-footer ul{margin-left:35px !important;}
    .ck-footer .ck-left-footer{width:38% !important;margin-left:8%;}
}
@media only screen and (max-width:1199px) and (min-width:1100px){.ck-slide0-content{right:18% !important;}
    .ck-logo-first{right:28% !important;}
    #section5 .map-container{margin-right:30% !important;}
    #section5 .ck-address{padding-right:30%!important;}
    #menu .menu-wrapper{margin-right:1%;width:483px;}
    #menu .nav{min-width:483px;}
    #menu .ck-left-header{padding:0;margin-right:0;}
    #menu .ck-left-header li a{margin:9px 13px !important;}
    #menu .ck-seach{margin:20px 23px;}
    #menu .nav > li > a{padding-left:5px;padding-right:5px;}
    .ck-col-container{padding:0 1% !important;}
    .ck-page-content .ck-page-rightsidebar{width:22% !important;margin-right:1% !important;}
    .ck-page-content .ck-page-article{width:76% !important;margin-right:8px !important;}
    .ck-page-article .ck-book .ck-gheymat .ck-new-price{margin-right:2px !important;}
    .ck-book-content .ck-kharid-ketab h3{margin-right:23px !important;}
    .ck-book-content .ck-kharid-ketab img{margin-right:30px !important;}
    .ck-footer .ck-right-footer{margin-right:4% !important;width:46% !important;}
    .ck-footer .ck-right-footer ul{margin-left:35px !important;}
    .ck-footer .ck-left-footer{width:38% !important;margin-left:8%;}
}
@media only screen and (max-width:1099px) and (min-width:1000px){.ck-slide0-content{right:12% !important;}
    .ck-logo-first{right:25% !important;}
    #section5 .map-container{margin-right:27% !important;}
    #section5 .ck-address{padding-right:25%!important;}
    #menu .menu-wrapper{margin-right:1%;width:426px;}
    #menu .nav{min-width:426px;}
    #menu .ck-left-header{padding:0;margin-right:0;}
    #menu .ck-left-header li a{margin:9px 12px !important;font-size:13px !important;}
    #menu .ck-seach{margin:15px 3px;}
    #menu .nav li a{padding-left:5px;padding-right:5px;font-size:13px;}
    .ck-col-container{padding:0 1% !important;}
    .ck-page-content .ck-page-rightsidebar{width:22% !important;margin-right:1% !important;}
    .ck-page-content .ck-page-article{width:76% !important;margin-right:8px !important;}
    .ck-page-container .ck-page-right-menu h3{margin-right:5px !important;}
    .ck-page-article .ck-book{margin-bottom:19px !important}
    .ck-page-article .ck-book .ck-gheymat .ck-new-price{margin-right:2px !important;}
    .ck-book-content .ck-kharid-ketab h3{margin-right:20px !important;}
    .ck-book-content .ck-kharid-ketab img{margin-right:20px !important;}
    .ck-book-content .ck-moshakhasat-left .ck-left img{margin-right:0 !important;}
    .ck-frame div{width:226px !important;}
    .ck-page-article .ck-book-characteristic .ck-book-content{width:67% !important;}
    .ck-page-article .ck-book-characteristic .ck-book-image{width:32% !important;}
    .ck-footer .ck-right-footer{margin-right:4% !important;width:46% !important;}
    .ck-footer .ck-right-footer ul{margin-left:35px !important;}
    .ck-footer .ck-left-footer{width:46% !important;margin-left:4% !important;}
    .ck-footer .ck-first{font-size:15px !important;}
}
@media only screen and (max-width:999px) and (min-width:900px){
    .video-js{min-height: 400px!important;}
    .ck-video .ck-common-video{height: 400px!important;}
    .ck-video .ck-common-video{width: 32% !important}
    .ck-video .ck-orginal-video{width: 68% !important}
    .ck-slide0-content{right:9% !important;}
    .ck-logo-first{right:23% !important;}
    #section5 .map-container{margin-right:22% !important;}
    #section5 .ck-address{padding-right:20%!important;}
    #menu .menu-wrapper{margin-right:10%;width:362px;}
    #menu .nav{min-width:362px;}
    #menu .ck-left-header{padding:0;margin-right:0;}
    #menu .ck-left-header li a{margin:9px 8px !important;font-size:11px !important;}
    #menu .ck-seach{margin:20px 23px;}
    #menu .nav li a{padding-left:3px;padding-right:3px;font-size:11px;}
    .ck-header #menu .ck-logo{width:182px;height:94px;}
    .ck-header #menu .ck-logo img{width:85%;}
    #menu .ck-left-header{width:22% !important;}
    .ck-col-container{padding:0 1% !important;}
    .ck-page-content .ck-page-rightsidebar{width:22% !important;margin-right:1% !important;}
    .ck-page-content .ck-page-article{width:76% !important;margin-right:8px !important;}
    .ck-page-container .ck-page-right-menu h3{margin-right:5px !important;font-size:17px !important;}
    .ck-page-article .ck-book{margin-bottom:19px !important}
    .ck-page-container .ck-page-right-menu .ck-left img{width:60%;margin-top:9px;}

    .ck-page-article .ck-book .ck-afzodan-be-sabad img{height:67px;}
    .ck-page-article .ck-book .ck-gheymat .ck-old-price{margin-right:5px !important;}
    .ck-page-article .ck-book .ck-gheymat .ck-new-price{margin-right:2px !important;}
    .ck-book-content .ck-kharid-ketab h3{margin-right:8px !important;}
    .ck-book-content .ck-kharid-ketab img{margin-right:0px !important;}
    .ck-book-content .ck-moshakhasat-left .ck-left img{margin-right:0 !important;}
    .ck-frame div{width:226px !important;}
    .ck-page-article .ck-book-characteristic .ck-book-content{width:65% !important;}
    .ck-page-article .ck-book-characteristic .ck-book-image{width:34% !important;}
    .ck-footer .ck-right-footer{margin-right:1% !important;width:47% !important;}
    .ck-footer .ck-right-footer ul{margin-left:35px !important;}
    .ck-footer .ck-left-footer{width:46% !important;margin-left:4% !important;}
    .ck-footer .ck-left-footer{padding:0 !important;}
    .ck-footer .ck-first{font-size:15px !important;}
}
@media only screen and (max-width:899px) and (min-width:800px){
    .ck-video .ck-common-video{height: 400px!important;}
    .ck-video .ck-common-video{width: 32% !important}
    .ck-video .ck-orginal-video{width: 68% !important}
    .ck-video .ck-common-video .ck-videos-common .ck-common-content h3{font-size: 10px!important;}
    .swiper-container{height:auto!important;}
    .swiper-slide{height:auto!important;}
    .ck-slide0-content{right:3% !important;}
    .ck-logo-first{right:20% !important;}
    #section5 .map-container{margin-right:15% !important;}
    #section5 .ck-address{padding-right:11%!important;}
    #menu .menu-wrapper{margin-right:19%;width:362px;}
    #menu .nav{min-width:362px;}
    #menu .ck-left-header{padding:0;margin-right:0;}
    #menu .ck-left-header li a{margin:9px 8px !important;font-size:11px !important;}
    #menu .ck-seach{margin:20px 23px;}
    #menu .nav li a{padding-left:3px;padding-right:3px;font-size:11px;}
    .ck-header #menu .ck-logo{width:162px !important;height:84px !important;}
    .ck-header #menu .ck-logo img{width:85% !important;}
    #menu .ck-left-header{width:22% !important;}
    .ck-col-container{padding:0 1% !important;}
    .ck-page-content .ck-page-rightsidebar{width:22% !important;margin-right:1% !important;}
    .ck-page-content .ck-page-article{width:76% !important;margin-right:8px !important;}
    .ck-page-container .ck-page-right-menu h3{margin-right:5px !important;font-size:17px !important;}
    .ck-page-article .ck-book{margin-bottom:19px !important}
    .ck-page-container .ck-page-right-menu .ck-left img{width:60%;margin-top:9px;}

    .ck-page-article .ck-book .ck-afzodan-be-sabad img{height:67px;}
    .ck-page-article .ck-book .ck-gheymat .ck-old-price{margin-right:5px !important;}
    .ck-page-article .ck-book .ck-gheymat .ck-new-price{margin-right:2px !important;}
    .ck-page-article .ck-book .ck-gheymat .ck-new-price h3{font-size:16px !important;}
    .ck-book-content .ck-kharid-ketab h3{margin-right:8px !important;font-size:15px !important;}
    .ck-book-content .ck-kharid-ketab img{margin-right:0 !important;}
    .ck-book-content .ck-moshakhasat-left .ck-left img{margin-right:0 !important;}
    .ck-frame div{width:226px !important;}
    .ck-page-article .ck-book-characteristic .ck-book-content{width:61% !important;}
    .ck-book-content .ck-kharid-ketab img{width:35%;}
    .ck-page-article .ck-book-characteristic .ck-book-image{width:38% !important;}
    .ck-book-content .ck-moshakhasat-left .ck-right h3{margin-right:0 !important;}
    .ck-book-content .ck-moshakhasat-left .ck-left img{width:26px;}
    .ck-footer .ck-right-footer{margin-right:1% !important;width:47% !important;}
    .ck-footer .ck-right-footer ul{margin-left:20px !important;}
    .ck-footer .ck-left-footer{width:46% !important;margin-left:4% !important;}
    .ck-footer .ck-left-footer{padding:0 !important;}
    .ck-footer .ck-first{font-size:12px !important;}
    .ck-footer .ck-right-footer ul li{font-size:12px !important;}
    .ck-footer .ck-left-footer h3{font-size:12px;}
}
@media only screen and (max-width:800px), (max-device-width:800px){#menu .ck-seach-container{float:left!important;margin-left:4px;}
    .video-js .vjs-tech{min-width:100px!important;}
    #menu .ck-search-form{top:49px!important;left:-49px!important;width:100%}
    #menu .menu-wrapper{display:none}
    #menu .ck-mobile-menu{display:block !important;float:right;width:20px;height:20px;margin-top:8px;margin-right:22%;}
    #menu .ck-left-header{display:none;}
    #menu{min-width:0 !important;height:49px;}
    #menu .ck-mobile-menu{margin-right:4%;}
    #menu .ck-seach{float:left !important;margin-left:3% !important;margin-top:1% !important;}
    .ck-header #menu .ck-logo{width:142px !important;height:65px !important;margin-right:22% !important;}
    .ck-header #menu .ck-logo img{width:74%;}
}
@media only screen and (max-width:799px) and (min-width:700px){.swiper-container{height:auto!important;}
    .ck-video .ck-common-video{height: 400px!important;}
    .ck-video .ck-common-video{width: 32% !important}
    .ck-video .ck-orginal-video{width: 68% !important}
    .ck-video .ck-common-video .ck-videos-common .ck-common-content h3{font-size: 10px!important;}
    .ck-video .ck-common-video .ck-videos-common .ck-common-content h4{margin-top: 13px}
    .swiper-slide{height:auto!important;}
    .ck-slide0-content{right:3% !important;}
    .ck-logo-first{right:17% !important;}
    .ck-slide0-content h2{font-size:22px !important;}
    #section5 .map-container{margin-right:9% !important;}
    #section5 .ck-address{padding-right:10%!important;}
    #section5 .ck-mobile-and-telephone h4{margin-left:109px!important;}
    #menu .menu-wrapper{margin-right:19%;width:362px;}
    #menu .nav{min-width:362px;}
    #menu .ck-left-header{padding:0;margin-right:0;}
    #menu .ck-left-header li a{margin:9px 8px !important;font-size:11px !important;}
    #menu .ck-seach{margin:20px 23px;}
    #menu .nav li a{padding-left:3px;padding-right:3px;font-size:11px;}
    .ck-header #menu .ck-logo{width:162px !important;height:84px !important;}
    .ck-header #menu .ck-logo img{width:85% !important;margin:auto}
    #menu .ck-left-header{width:22% !important;}
    .ck-col-container{padding:0 1% !important;}
    .ck-page-content .ck-page-rightsidebar{width:21% !important;margin-right:1% !important;}
    .ck-page-content .ck-page-article{width:76% !important;margin-right:8px !important;}
    .ck-page-container .ck-page-right-menu h3{margin-right:5px !important;font-size:13px !important;}
    .ck-page-article .ck-book{margin-bottom:19px !important}
    .ck-page-container .ck-page-right-menu .ck-left img{width:60%;margin-top:9px;}

    .ck-page-article .ck-book .ck-afzodan-be-sabad img{height:67px;}
    .ck-page-article .ck-book .ck-gheymat .ck-old-price{margin-right:5px !important;}
    .ck-page-article .ck-book .ck-gheymat .ck-old-price h3{font-size:13px;}
    #menu .ck-mobile-menu{margin-right:4%;}
    #menu .ck-logo{margin-right:33% !important;}
    .ck-new-price{margin-right:5px !important;}
    .ck-new-price h3{font-size:13px !important;}

    .ck-kharid .ck-afzodan-be-sabad img{height:40px !important;}
    .ck-header #menu .ck-logo{margin-right:29% !important;}
    .ck-book-content .ck-kharid-ketab h3{margin-right:8px !important;font-size:15px !important;}
    .ck-book-content .ck-kharid-ketab img{margin-right:0 !important;}
    .ck-book-content .ck-moshakhasat-left .ck-left img{margin-right:0 !important;}
    .ck-comment-header h3{margin-right:20px !important;font-size:12px !important;}
    .ck-frame div{width:200px !important;height:auto !important;}
    .ck-book-content .ck-moshakhasat-left .ck-right h3{font-size:12px !important;}
    .ck-page-article .ck-right{margin-bottom:0 !important;}
    .ck-page-article .ck-book-characteristic .ck-book-content{width:61% !important;}
    .ck-tozhihat-ketab{margin-top:-5px !important;}
    .ck-book-content .ck-kharid-ketab img{width:35%;}
    .ck-page-article .ck-book-characteristic .ck-book-image{width:38% !important;}
    .ck-book-content .ck-moshakhasat-left .ck-right h3{margin-right:0 !important;}
    .ck-book-content .ck-moshakhasat-left .ck-left img{width:26px;}
    .ck-page-article .ck-book-name h1{font-size:17px !important;}
    .ck-footer .ck-right-footer{margin-right:1% !important;width:47% !important;}
    .ck-footer .ck-right-footer ul{margin-left:20px !important;}
    .ck-footer .ck-left-footer{width:46% !important;margin-left:4% !important;}
    .ck-footer .ck-left-footer{padding:0 !important;}
    .ck-footer .ck-first{font-size:12px !important;}
    .ck-footer .ck-right-footer ul li{font-size:12px !important;}
    .ck-footer .ck-left-footer h3{font-size:12px;}
}
@media only screen and (max-width:699px) and (min-width:600px){.swiper-container{height:auto!important;}

    .ck-video .ck-common-video{height: 400px!important;}
    .ck-video .ck-common-video{width: 32% !important}
    .ck-video .ck-orginal-video{width: 68% !important}
    .ck-video .ck-common-video .ck-videos-common .ck-common-content h3{font-size: 10px!important;}
    .ck-video .ck-common-video .ck-videos-common .ck-common-content h4{margin-top: 13px}
    .swiper-slide{height:auto!important;}
    .ck-slide0-content{right:3% !important;}
    .ck-logo-first{right:8% !important;top:25% !important;}
    .ck-slide0-content h2{font-size:20px !important;}
    .ck-slide0-content{position:absolute;-webkit-animation-name:slide1-content;-webkit-animation-duration:2s;animation-name:slide1-content !important;animation-fill-mode:forwards;animation-delay:1.2s;-webkit-animation-fill-mode:forwards;transition-timing-function:cubic-bezier(0.25, 0.1, 0.2, 1);-webkit-transition-timing-function:cubic-bezier(0.25, 0.1, 0.2, 1);animation-duration:2s;cubic-bezier(0.25, 0.1, 0.2, 1)}
    @-webkit-keyframes slide1-content{from{opacity:0;top:60%;}
        to{opacity:1;top:38%;}
    }
    @keyframes slide1-content{from{opacity:0;top:60%;}
        to{opacity:1;top:38%;}
    }
    .ck-slide0-content .ck-shoar{font-size:27px !important;}
    #section5 .map-container{margin-right:6% !important;}
    #section5 .ck-address{padding-right:10%!important;}
    #section5 .ck-mobile-and-telephone h4{margin-left:62px!important;}
    #menu .menu-wrapper{margin-right:19%;width:362px;}
    #menu .nav{min-width:362px;}
    #menu .ck-left-header{padding:0;margin-right:0;}
    #menu .ck-left-header li a{margin:9px 8px !important;font-size:11px !important;}
    #menu .ck-seach{margin:20px 23px;}
    #menu .nav li a{padding-left:3px;padding-right:3px;font-size:11px;}
    .ck-header #menu .ck-logo{width:162px !important;height:84px !important;}
    .ck-header #menu .ck-logo img{width:85% !important;}
    #menu .ck-left-header{width:22% !important;}
    .ck-col-container{padding:0 1% !important;}
    .ck-page-content .ck-page-rightsidebar{width:21% !important;margin-right:1% !important;}
    .ck-page-content .ck-page-article{width:76% !important;margin-right:8px !important;}
    .ck-page-container .ck-page-right-menu h3{margin-right:5px !important;font-size:13px !important;}
    .ck-page-article .ck-book{margin-bottom:19px !important}
    .ck-page-container .ck-page-right-menu .ck-left img{width:60%;margin-top:9px;}

    .ck-page-article .ck-book .ck-afzodan-be-sabad img{height:67px;}
    .ck-page-article .ck-book .ck-gheymat .ck-old-price{margin-right:5px !important;}
    .ck-page-article .ck-book .ck-gheymat .ck-old-price h3{font-size:13px;}
    #menu .ck-mobile-menu{margin-right:4%;}
    #menu .ck-logo{margin-right:33% !important;}
    .ck-new-price{margin-right:5px !important;}
    .ck-new-price h3{font-size:13px !important;}

    .ck-kharid .ck-afzodan-be-sabad img{height:40px !important;}
    .ck-header #menu .ck-logo{margin-right:29% !important;}
    .ck-page-rightsidebar{display:none;}
    .ck-page-content .ck-page-article{width:100% !important;}
    .ck-page-article .ck-book .ck-moshahedesafahat{top:50% !important;}
    .ck-page-article .ck-book .ck-moshahedesafahat h3{font-size:12px !important;}
    .ck-book-content .ck-kharid-ketab h3{margin-right:8px !important;font-size:15px !important;}
    .ck-book-content .ck-kharid-ketab img{margin-right:0 !important;}
    .ck-comment-header h3{margin-right:20px !important;font-size:12px !important;}
    .ck-book-content .ck-moshakhasat-left .ck-left img{margin-right:0 !important;}
    .ck-frame div{width:200px !important;height:auto !important;}
    .ck-book-content .ck-moshakhasat-left .ck-right h3{font-size:12px !important;}
    .ck-page-article .ck-right{margin-bottom:0 !important;}
    .ck-page-article .ck-book-characteristic .ck-book-content{width:61% !important;}
    .ck-tozhihat-ketab{margin-top:3px !important;}
    .ck-book-content .ck-kharid-ketab img{width:35%;}
    .ck-page-article .ck-book-characteristic .ck-book-image{width:38% !important;}
    .ck-book-content .ck-moshakhasat-left .ck-right h3{margin-right:0 !important;}
    .ck-book-content .ck-moshakhasat-left .ck-left img{width:26px;}
    .ck-page-article .ck-book-name h1{font-size:17px !important;}
    .ck-footer .ck-right-footer{margin-right:6% !important;width:88% !important;}
    .ck-footer .ck-right-footer ul{margin-left:48px !important;}
    .ck-footer .ck-left-footer{width:100% !important;margin-left:4% !important;}
    .ck-footer .ck-first{font-size:12px !important;}
    .ck-footer .ck-right-footer ul li{font-size:12px !important;}
    .ck-footer .ck-left-footer h3{font-size:12px;}
    .ck-footer .ck-right-footer{float:none !important;border-left:none !important;border-bottom:1px solid white;}
    .ck-footer .ck-left-footer{float:none !important;}
}
@media only screen and (max-width:599px) and (min-width:500px){.swiper-container{height:auto!important;}

    .ck-video .ck-common-video{height: 300px!important;}
    .ck-video .ck-common-video{width: 32% !important}
    .ck-video .ck-orginal-video{width: 68% !important}
    .ck-video .ck-common-video .ck-videos-common .ck-common-content h3{font-size: 10px!important;}
    .ck-video .ck-common-video .ck-videos-common .ck-common-content h4{margin-top: 13px}
    .swiper-slide{height:auto!important;}
    .ck-slide0-content{right:1% !important;}
    .ck-logo-first{right:0 !important;top:25% !important;transform:scale(0.8);}
    .ck-slide0-content h2{font-size:17px !important;}
    .ck-slide0-content{position:absolute;-webkit-animation-name:slide1-content;-webkit-animation-duration:2s;animation-name:slide1-content !important;animation-fill-mode:forwards;animation-delay:1.2s;-webkit-animation-fill-mode:forwards;transition-timing-function:cubic-bezier(0.25, 0.1, 0.2, 1);-webkit-transition-timing-function:cubic-bezier(0.25, 0.1, 0.2, 1);animation-duration:2s;cubic-bezier(0.25, 0.1, 0.2, 1)}
    @-webkit-keyframes slide1-content{from{opacity:0;top:60%;}
        to{opacity:1;top:38%;}
    }
    @keyframes slide1-content{from{opacity:0;top:60%;}
        to{opacity:1;top:38%;}
    }
    .ck-slide0-content .ck-shoar{font-size:27px !important;}
    #section5 .map-container{margin-right:0% !important;transform:scale(0.8);}
    #section5 .ck-address{padding-right:10%!important;}
    #section5 .ck-mobile-and-telephone h4{margin-left:26px!important;}
    #section5 .ck-mobile-and-telephone h4{font-size:15px!important;}
    #section5 .ck-address .ck-address-container h4{font-size:14px!important;}
    #section5 .ck-Social-networks h3{font-size:11px!important;}
    #menu .menu-wrapper{margin-right:19%;width:362px;}
    #menu .nav{min-width:362px;}
    #menu .ck-left-header{padding:0;margin-right:0;}
    #menu .ck-left-header li a{margin:9px 8px !important;font-size:11px !important;}
    #menu .ck-seach{margin:20px 23px;}
    #menu .nav li a{padding-left:3px;padding-right:3px;font-size:11px;}
    .ck-header #menu .ck-logo{width:162px !important;height:84px !important;}
    .ck-header #menu .ck-logo img{width:85% !important;}
    #menu .ck-left-header{width:22% !important;}
    .ck-col-container{padding:0 1% !important;}
    .ck-page-content .ck-page-rightsidebar{width:21% !important;margin-right:1% !important;}
    .ck-page-content .ck-page-article{width:76% !important;margin-right:0 !important;}
    .ck-page-container .ck-page-right-menu h3{margin-right:5px !important;font-size:13px !important;}
    .ck-page-article .ck-book{margin-bottom:19px !important}
    .ck-page-container .ck-page-right-menu .ck-left img{width:60%;margin-top:9px;}

    .ck-page-article .ck-book .ck-afzodan-be-sabad img{height:67px;}
    .ck-page-article .ck-book .ck-gheymat .ck-old-price{margin-right:5px !important;}
    .ck-page-article .ck-book .ck-gheymat .ck-old-price h3{font-size:13px;}
    #menu .ck-mobile-menu{margin-right:4%;}
    #menu .ck-logo{margin-right:33% !important;}
    .ck-new-price{margin-right:5px !important;}
    .ck-new-price h3{font-size:13px !important;}

    .ck-kharid .ck-afzodan-be-sabad img{height:40px !important;}
    .ck-header #menu .ck-logo{margin-right:29% !important;}
    .ck-page-rightsidebar{display:none;}
    .ck-page-content .ck-page-article{width:100% !important;}
    .ck-page-article .ck-right h3{margin-right:17px !important;}
    .ck-page-article .ck-book .ck-moshahedesafahat{top:50% !important;}
    .ck-page-article .ck-book .ck-moshahedesafahat h3{font-size:12px !important;}
    .ck-book-content .ck-kharid-ketab h3{margin-right:8px !important;font-size:15px !important;}
    .ck-book-content .ck-kharid-ketab img{margin-right:0 !important;}
    .ck-comment-header h3{margin-right:20px !important;font-size:12px !important;}
    .ck-book-content .ck-moshakhasat-left .ck-left img{margin-right:0 !important;}
    .ck-frame div{width:188px !important;height:auto !important;}
    .ck-book-content .ck-moshakhasat-left .ck-right h3{font-size:12px !important;}
    .ck-page-article .ck-right{margin-bottom:0 !important;}
    .ck-page-article .ck-book-characteristic .ck-book-content{width:61% !important;}
    .ck-tozhihat-ketab{margin-top:3px !important;}
    .ck-book-content .ck-kharid-ketab img{width:35%;}
    .ck-page-article .ck-book-characteristic .ck-book-image{width:38% !important;}
    .ck-book-content .ck-moshakhasat-left .ck-right h3{margin-right:0 !important;}
    .ck-book-content .ck-moshakhasat-left .ck-left img{width:26px;}
    .ck-page-article .ck-book-name h1{font-size:17px !important;}
    .ck-footer .ck-right-footer{margin-right:6% !important;width:88% !important;}
    .ck-footer .ck-right-footer ul{margin-left:48px !important;}
    .ck-footer .ck-left-footer{width:100% !important;margin-left:4% !important;}
    .ck-footer .ck-first{font-size:12px !important;}
    .ck-footer .ck-right-footer ul li{font-size:12px !important;}
    .ck-footer .ck-left-footer h3{font-size:12px;}
    .ck-footer .ck-right-footer{float:none !important;border-left:none !important;border-bottom:1px solid white;}
    .ck-footer .ck-left-footer{float:none !important;}
}
@media only screen and (max-width:699px), (max-device-width:699px){.ck-content-mobile-right-sidebar-container{display:block !important;}
}
@media only screen and (max-width:499px) and (min-width:400px){
    .swiper-container{height:auto!important;}
    .vjs-tech{min-height: 150px!important;}
    .ck-video .ck-common-video{height: 300px!important;}
    .ck-video .ck-common-video{width: 100% !important}
    .ck-video .ck-orginal-video{width: 100% !important}
    .ck-video .ck-common-video .ck-videos-common .ck-common-content h3{font-size: 10px!important;}
    .ck-video .ck-common-video .ck-videos-common .ck-common-content h4{margin-top: 13px}
    .swiper-slide{height:auto!important;}
    .ck-slide0-content{right:1% !important;}
    .ck-logo-first{right:-14% !important;top:25% !important;transform:scale(0.7);}
    .ck-slide0-content h2{font-size:13px !important;}
    .ck-slide0-content{position:absolute;-webkit-animation-name:slide1-content;-webkit-animation-duration:2s;animation-name:slide1-content !important;animation-fill-mode:forwards;animation-delay:1.2s;-webkit-animation-fill-mode:forwards;transition-timing-function:cubic-bezier(0.25, 0.1, 0.2, 1);-webkit-transition-timing-function:cubic-bezier(0.25, 0.1, 0.2, 1);animation-duration:2s;cubic-bezier(0.25, 0.1, 0.2, 1)}
    @-webkit-keyframes slide1-content{from{opacity:0;top:60%;}
        to{opacity:1;top:38%;}
    }
    @keyframes slide1-content{from{opacity:0;top:60%;}
        to{opacity:1;top:38%;}
    }
    .ck-slide0-content .ck-shoar{font-size:27px !important;}
    #section5 .map-container{margin-right:-9% !important;transform:scale(0.6);margin-top:5px;}
    #section5 .ck-address{padding-right:5%!important;margin-top:-40px!important;}
    #section5 .ck-mobile-and-telephone h4{margin-left:26px!important;}
    #section5 .ck-mobile-and-telephone h4{font-size:15px!important;}
    #section5 .ck-address .ck-address-container h4{font-size:12px!important;}
    #section5 .ck-Social-networks h3{font-size:11px!important;}
    #section5 .fa-mobile{margin-left:13px!important;}
    #section5 .fa-paper-plane{margin-right:12px!important;}
    #section5 .instageram-text p,#section5 .telegram-text p{font-size:12px!important;}
    #section5 .ck-Social-networks h3{font-size:10px!important;}
    #section5 .ck-Social-networks .telegram{margin-right:89px!important;}
    #section5 .ck-Social-networks .instagram{margin-right:104px!important;margin-top:10px!important;}
    #section5 .ck-Social-networks{margin-top:15px!important;}
    #menu .menu-wrapper{margin-right:19%;width:362px;}
    #menu .nav{min-width:362px;}
    #menu .ck-left-header{padding:0;margin-right:0;}
    #menu .ck-left-header li a{margin:9px 8px !important;font-size:11px !important;}
    #menu .ck-seach{margin:20px 23px;}
    #menu .nav li a{padding-left:3px;padding-right:3px;font-size:11px;}
    .ck-header #menu .ck-logo{width:162px !important;height:84px !important;}
    .ck-header #menu .ck-logo img{width:85% !important;margin:auto!important}
    #menu .ck-left-header{width:22% !important;}
    .ck-col-container{padding:0 1% !important;}
    .ck-page-content .ck-page-rightsidebar{width:21% !important;margin-right:1% !important;}
    .ck-page-content .ck-page-article{width:76% !important;margin-right:8px !important;}
    .ck-page-container .ck-page-right-menu h3{margin-right:5px !important;font-size:13px !important;}

    .ck-page-container .ck-page-right-menu .ck-left img{width:60%;}

    .ck-page-article .ck-book .ck-afzodan-be-sabad img{height:67px;}
    .ck-page-article .ck-book .ck-gheymat .ck-old-price{margin-right:5px !important;}
    .ck-page-article .ck-book .ck-gheymat .ck-old-price h3{font-size:13px;}
    #menu .ck-mobile-menu{margin-right:4%;}
    #menu .ck-logo{margin-right:33% !important;}
    .ck-new-price{margin-right:5px !important;}
    .ck-new-price h3{font-size:13px !important;}

    .ck-kharid .ck-afzodan-be-sabad img{height:40px !important;}
    .ck-header #menu .ck-logo{margin-right:18% !important;}
    .ck-page-rightsidebar{display:none;}
    .ck-page-content .ck-page-article{width:100% !important;}
    .ck-page-article .ck-right h3{margin-right:4px !important;font-size:15px !important;}
    .ck-page-article .ck-left img{width:64% !important;height:25px;margin-top:6px !important;}
    .ck-page-article .ck-right{height:35px !important;}
    .ck-page-article .ck-right h3{margin-top:5px !important;}
    .ck-page-article .ck-left{height:35px !important;}
    .ck-page-article .ck-right{margin-bottom:4px !important;}
    .ck-content-mobile-right-sidebar-container{margin-bottom:3px;}
    .ck-page-article .ck-book .ck-moshahedesafahat{top:37% !important;}
    .ck-page-article .ck-book .ck-moshahedesafahat h3{font-size:12px !important;}
    .ck-book-content .ck-kharid-ketab h3{margin-right:8px !important;font-size:15px !important;}
    .ck-book-content .ck-kharid-ketab img{margin-right:10px !important;margin-top:6px !important;}
    .ck-comment-header h3{margin-right:6px !important;font-size:11px !important;}
    .ck-book-content .ck-moshakhasat-left .ck-left img{margin-right:0 !important;}
    .ck-frame div{width:188px !important;height:auto !important;}
    .ck-book-content .ck-moshakhasat-left .ck-right h3{font-size:12px !important;}
    .ck-page-article .ck-right{margin-bottom:0 !important;}
    .ck-page-article .ck-book-characteristic .ck-book-content{width:100% !important;}
    .ck-tozhihat-ketab{margin-top:3px !important;}
    .ck-book-content .ck-kharid-ketab img{width:30%;}
    .ck-page-article .ck-book-characteristic .ck-book-image{width:100% !important;padding:0 26% 0 0 !important;height:274px;}
    .ck-page-container .ck-page-content{margin:0 1%;}
    .ck-book-content .ck-moshakhasat-left{margin-bottom:6px !important;}
    .ck-book-content .ck-kharid-ketab{height:76px !important;}
    .ck-book-content .ck-kharid-ketab h3{margin-top:29px !important;margin-right:25px !important;}
    .ck-book-content .ck-moshakhasat-left .ck-right h3{margin-right:0 !important;}
    .ck-book-content .ck-moshakhasat-left .ck-left img{width:26px;}
    .ck-page-article .ck-book-name h1{font-size:13px !important;margin-top:16px !important;}
    .ck-comment-header img{margin:4px 1% 0 0 !important;}
    .ck-page-container .ck-page-content{padding-top:130px;}
    .ryy-index-content {margin-top: 0!important;padding-top: 0!important;}
    .ck-page-article .ck-book-characteristic{margin-top:11px !important;}
    .ck-book-content .ck-go-toright, .ck-book-content .ck-moshakhasat-left{margin-top:2px !important;}
    .ck-footer .ck-right-footer{margin-right:6% !important;width:88% !important;}
    .ck-footer .ck-right-footer ul{margin-left:48px !important;}
    .ck-footer .ck-left-footer{width:100% !important;margin-left:4% !important;}
    .ck-footer .ck-first{font-size:12px !important;}
    .ck-footer .ck-right-footer ul li{font-size:12px !important;}
    .ck-footer .ck-left-footer h3{font-size:12px;}
    .ck-footer .ck-right-footer{float:none !important;border-left:none !important;border-bottom:1px solid white;}
    .ck-page-content .ck-page-article{margin-right:0 !important;}
    .ck-footer .ck-left-footer{float:none !important;}
    .ck-footer .ck-right-footer{margin-right:6% !important;width:88% !important;}
    .ck-footer .ck-right-footer ul{margin-left:29px !important;}
    .ck-footer .ck-left-footer{width:100% !important;margin-left:4% !important;}
    .ck-footer .ck-first{font-size:12px !important;}
    .ck-footer .ck-right-footer ul li{font-size:12px !important;}
    .ck-footer .ck-left-footer h3{font-size:12px;}
    .ck-footer .ck-right-footer{float:none !important;border-left:none !important;border-bottom:1px solid white;}
    .ck-footer .ck-left-footer{float:none !important;padding:0 24px !important;}
    .ck-footer .ck-footer-low h3{font-size:12px !important;}
    .ck-footer .ck-left-footer .ck-left-last{margin-top:24px !important;}
}
@media only screen and (max-width:399px) and (min-width:300px){.swiper-container{height:auto!important;}
    .vjs-tech{min-height: 200px!important;}
    .video-js{min-height: 200px!important;}
    .ck-video .ck-common-video{height: 300px!important;}
    .ck-video .ck-common-video{width: 100% !important}
    .ck-video .ck-orginal-video{width: 100% !important}
    .my-player-dimensions{height: 231px!important;}
    .ck-video .ck-common-video .ck-videos-common .ck-common-content h3{font-size: 10px!important;}
    .ck-video .ck-common-video .ck-videos-common .ck-common-content h4{margin-top: 13px}
    .swiper-container{width:98%!important;}
    .ck-slide0-content{right:0 !important;width:100%;}
    .ck-logo-first{right:-27% !important;text-align:center;top:23% !important;transform:scale(0.5);}
    .ck-logo-first img{width:85% !important;}
    .ck-slide0-content h2{font-size:10px !important;}
    .ck-slide0-content{position:absolute;-webkit-animation-name:slide1-content;-webkit-animation-duration:2s;animation-name:slide1-content !important;animation-fill-mode:forwards;animation-delay:1.2s;-webkit-animation-fill-mode:forwards;transition-timing-function:cubic-bezier(0.25, 0.1, 0.2, 1);-webkit-transition-timing-function:cubic-bezier(0.25, 0.1, 0.2, 1);animation-duration:2s;cubic-bezier(0.25, 0.1, 0.2, 1)}
    @-webkit-keyframes slide1-content{from{opacity:0;top:60%;}
        to{opacity:1;top:38%;}
    }
    @keyframes slide1-content{from{opacity:0;top:60%;}
        to{opacity:1;top:38%;}
    }
    .ck-slide0-content .ck-shoar{font-size:21px !important;}
    .ck-tamasbama-container img{width:85%;}
    .ck-tamasbama .ck-tamasbama-container h2{bottom:14px!important;right:18px!important;}
    #section5 .map-container{margin-right:-15% !important;transform:scale(0.5);margin-top:-15px;}
    #section5 .ck-address{padding-right:5%!important;margin-top:-61px!important;}
    #section5 .ck-mobile-and-telephone h4{margin-left:3px!important;}
    #section5 .ck-mobile-and-telephone h4{font-size:12px!important;margin-right:3px;}
    #section5 .ck-address .ck-address-container h4{font-size:10px!important;margin-right:2px!important;}
    #section5 .ck-Social-networks h3{font-size:11px!important;}
    #section5 .fa-mobile{margin-left:13px!important;}
    #section5 .fa-paper-plane{margin-right:12px!important;}
    #section5 .instageram-text p,#section5 .telegram-text p{font-size:12px!important;}
    #section5 .ck-Social-networks h3{font-size:10px!important;}
    #section5 .ck-Social-networks .telegram{margin-right:0!important;width:80% !important;}
    #section5 .ck-Social-networks .instagram{margin-right:72px!important;width:82%;margin-top:10px!important;}
    #section5 .ck-Social-networks{margin-top:15px!important;}
    #section5 .ck-icons{font-size:27px!important;}
    #section5 .ck-mobile-and-telephone{margin-right:-5px!important;}
    #section5 .ck-container-scroll{right:40%!important;}
    #menu .menu-wrapper{margin-right:19%;width:362px;}
    #menu .nav{min-width:362px;}
    #menu .ck-left-header{padding:0;margin-right:0;}
    #menu .ck-left-header li a{margin:9px 8px !important;font-size:11px !important;}
    #menu .ck-seach{margin:20px 4px;}
    #menu .nav li a{padding-left:3px;padding-right:3px;font-size:11px;}
    .ck-header #menu .ck-logo{width:162px !important;height:84px !important;}
    .ck-header #menu .ck-logo img{width:85% !important;}
    #menu .ck-left-header{width:22% !important;}
    .ck-col-container{padding:0 1% !important;}
    .ck-page-content .ck-page-rightsidebar{width:21% !important;margin-right:1% !important;}
    .ck-page-content .ck-page-article{width:76% !important;margin-right:0px !important;}
    .ck-page-container .ck-page-right-menu h3{margin-right:5px !important;font-size:13px !important;}
    .ck-page-article .ck-book{margin-bottom:19px !important}
    .ck-page-container .ck-page-right-menu .ck-left img{width:60%;margin-top:9px;}

    .ck-page-article .ck-book .ck-afzodan-be-sabad img{height:67px;}
    .ck-page-article .ck-book .ck-gheymat .ck-old-price{margin-right:5px !important;}
    .ck-page-article .ck-book .ck-gheymat .ck-old-price h3{font-size:13px;}
    #menu .ck-mobile-menu{margin-right:4%;}
    #menu .ck-logo{margin-right:33% !important;}
    .ck-new-price{margin-right:5px !important;}
    .ck-new-price h3{font-size:13px !important;}

    .ck-kharid .ck-afzodan-be-sabad img{height:40px !important;}
    .ck-header #menu .ck-logo{margin-right:19% !important;}
    .ck-slide0-content h2{line-height:30px!important;}
    .ck-page-rightsidebar{display:none;}
    .ck-page-content .ck-page-article{width:100% !important;}
    .ck-page-article .ck-right h3{margin-right:4px !important;font-size:15px !important;}
    .ck-page-article .ck-left img{width:64% !important;height:25px;margin-top:6px !important;}
    .ck-page-article .ck-right{height:35px !important;}
    .ck-page-article .ck-right h3{margin-top:9px !important;font-size:13px !important;}
    .ck-page-article .ck-left{height:35px !important;}
    .ck-page-article .ck-right{margin-bottom:4px !important;}
    .ck-content-mobile-right-sidebar-container{margin-bottom:3px;}
    .ck-page-container .ck-page-content{padding-top:127px ;}
    .ck-page-article .ck-book .ck-moshahedesafahat{top:45% !important;}
    .ck-page-article .ck-book .ck-moshahedesafahat h3{font-size:12px !important;}
    .ck-page-article .ck-book h2{min-height:42px!important;}
    .ck-book-content .ck-kharid-ketab h3{margin-right:8px !important;font-size:15px !important;}
    .ck-book-content .ck-kharid-ketab img{margin-right:10px !important;margin-top:13px !important;}
    .ck-content-mobile-right-sidebar{margin-bottom:3px;}
    .ck-comment-header h3{margin-right:1px !important;font-size:9px !important;}
    .ck-book-content .ck-moshakhasat-left .ck-left img{margin-right:0 !important;}
    .ck-frame div{width:188px !important;height:auto !important;}
    .ck-book-content .ck-moshakhasat-left .ck-right h3{font-size:12px !important;}
    .ck-page-article .ck-right{margin-bottom:0 !important;}
    .ck-page-article .ck-book-characteristic .ck-book-content{width:100% !important;}
    .ck-tozhihat-ketab{margin-top:3px !important;}
    .ck-book-content .ck-kharid-ketab img{width:30%;}
    .ck-page-article .ck-book-characteristic .ck-book-image{width:100% !important;padding:0 16% 0 0 !important;height:274px;}
    .ck-page-container .ck-page-content{margin:0 1%;}
    .ck-book-content .ck-moshakhasat-left{margin-bottom:6px !important;}
    .ck-book-content .ck-kharid-ketab{height:76px !important;}
    .ck-book-content .ck-kharid-ketab h3{margin-top:29px !important;margin-right:3px !important;}
    .ck-book-content .ck-moshakhasat-left .ck-right h3{margin-right:0 !important;}
    .ck-book-content .ck-moshakhasat-left .ck-left img{width:26px;}
    .ck-page-article .ck-book-name h1{font-size:10px !important;margin-top:16px !important;}
    .ck-comment-header img{margin:13px 1% 0 0 !important;width:30px;}
    .ck-page-container .ck-page-content{padding-top:130px;}
    .ck-page-article .ck-book-characteristic{margin-top:11px !important;}
    .ck-book-content .ck-go-toright, .ck-book-content .ck-moshakhasat-left{margin-top:2px !important;}
    .ck-page-container .ck-page-show ul li{font-size:8px !important;}
    .ck-page-container .ck-page-show ul i{margin-right:0 !important;margin-top:-2px;font-size:17px;}
    .ck-page-container .ck-page-show ul{margin-top:7px !important;}
    .ck-page-article .ck-book-name .ck-rights, .ck-page-article .ck-book-name .ck-lefts{width:13px !important;height:100% !important;%}
    .ck-footer .ck-right-footer{margin-right:2px !important;width:99% !important;}
    .ck-footer .ck-right-footer ul{margin-left:12px !important;}
    .ck-footer .ck-left-footer{width:100% !important;margin-left:4% !important;}
    .ck-footer .ck-first{font-size:11px !important;}
    .ck-footer .ck-right-footer ul li{font-size:11px !important;}
    .ck-footer .ck-left-footer h3{font-size:11px !important;}
    .ck-footer .ck-right-footer{float:none !important;border-left:none !important;border-bottom:1px solid white;}
    .ck-footer .ck-left-footer{float:none !important;padding:0 2px !important;}
    .ck-footer .ck-footer-low h3{font-size:9px !important;}
    .ck-footer .ck-left-footer .ck-left-last{margin-top:24px !important;}
}
@media only screen and (max-width:299px), (max-device-width:299px){#onesignal-popover-container #onesignal-popover-dialog .popover-body-message{padding:0!important;}
    .ck-slide0-content{right:1% !important;}
    .ck-logo-first{right:-80% !important;top:25% !important;transform:scale(.37);}
    .ck-logo-first img{width:85% !important;}
    .ck-slide0-content h2{font-size:10px !important;}
    .ck-slide0-content{position:absolute;-webkit-animation-name:slide1-content;-webkit-animation-duration:2s;animation-name:slide1-content !important;animation-fill-mode:forwards;animation-delay:1.2s;-webkit-animation-fill-mode:forwards;transition-timing-function:cubic-bezier(0.25, 0.1, 0.2, 1);-webkit-transition-timing-function:cubic-bezier(0.25, 0.1, 0.2, 1);animation-duration:2s;cubic-bezier(0.25, 0.1, 0.2, 1)}
    @-webkit-keyframes slide1-content{from{opacity:0;top:60%;}
        to{opacity:1;top:38%;}
    }
    @keyframes slide1-content{from{opacity:0;top:60%;}
        to{opacity:1;top:38%;}
    }
    .ck-slide0-content .ck-shoar{font-size:21px !important;}
    .ck-tamasbama-container img{width:85%;}
    .ck-tamasbama .ck-tamasbama-container h2{bottom:14px!important;right:18px!important;}
    #menu .menu-wrapper{margin-right:19%;width:362px;}
    #menu .nav{min-width:362px;}
    #menu .ck-left-header{padding:0;margin-right:0;}
    #menu .ck-left-header li a{margin:9px 8px !important;font-size:11px !important;}
    #menu .ck-seach{margin:20px 23px;}
    #menu .nav li a{padding-left:3px;padding-right:3px;font-size:11px;}
    .ck-header #menu .ck-logo{width:88px !important;height:61px !important;}
    .ck-header #menu .ck-logo img{width:85% !important;}
    #menu .ck-left-header{width:22% !important;}
    .ck-col-container{padding:0 1% !important;}
    .ck-page-content .ck-page-rightsidebar{width:21% !important;margin-right:1% !important;}
    .ck-page-content .ck-page-article{width:76% !important;margin-right:8px !important;}
    .ck-page-container .ck-page-right-menu h3{margin-right:5px !important;font-size:13px !important;}
    .ck-page-article .ck-book{margin-bottom:19px !important}
    .ck-page-container .ck-page-right-menu .ck-left img{width:60%;margin-top:9px;}

    .ck-page-article .ck-book .ck-afzodan-be-sabad img{height:67px;}
    .ck-page-article .ck-book .ck-gheymat .ck-old-price{margin-right:5px !important;}
    .ck-page-article .ck-book .ck-gheymat .ck-old-price h3{font-size:13px;}
    #menu .ck-mobile-menu{margin-right:4%;}
    #menu .ck-logo{margin-right:33% !important;}
    .ck-new-price{margin-right:5px !important;}
    .ck-new-price h3{font-size:13px !important;}

    .ck-kharid .ck-afzodan-be-sabad img{height:40px !important;}
    .ck-header #menu .ck-logo{margin-right:11% !important;}
    .ck-page-rightsidebar{display:none;}
    .ck-page-content .ck-page-article{width:100% !important;}
    .ck-page-article .ck-right h3{margin-right:4px !important;font-size:15px !important;}
    .ck-page-article .ck-left img{width:64% !important;height:25px;margin-top:6px !important;}
    .ck-page-article .ck-right{height:35px !important;}
    .ck-page-article .ck-right h3{margin-top:9px !important;font-size:13px !important;}
    .ck-page-article .ck-left{height:35px !important;}
    .ck-page-article .ck-right{margin-bottom:4px !important;}
    .ck-content-mobile-right-sidebar-container{margin-bottom:3px;}
    .ck-page-container .ck-page-content{padding-top:127px ;}
    .ryy-index-content {margin-top: 0!important;padding-top: 0!important;}
    .ck-page-article .ck-book .ck-moshahedesafahat{top:45% !important;}
    .ck-page-article .ck-book .ck-moshahedesafahat h3{font-size:12px !important;}
    .ck-moblie-item{width:80% !important;}
    .ck-moblie-display{width:20% !important;right:80% !important;}
    .ck-book-content .ck-kharid-ketab h3{margin-right:8px !important;font-size:15px !important;}
    .ck-book-content .ck-kharid-ketab img{margin-right:10px !important;margin-top:13px !important;}
    .ck-comment-header h3{margin-right:1px !important;font-size:9px !important;}
    .ck-book-content .ck-moshakhasat-left .ck-left img{margin-right:0 !important;}
    .ck-frame div{width:188px !important;height:auto !important;}
    .ck-book-content .ck-moshakhasat-left .ck-right h3{font-size:12px !important;}
    .ck-page-article .ck-right{margin-bottom:0 !important;}
    .ck-page-article .ck-book-characteristic .ck-book-content{width:100% !important;}
    .ck-tozhihat-ketab{margin-top:3px !important;}
    .ck-book-content .ck-kharid-ketab img{width:30%;}
    .ck-page-article .ck-book-characteristic .ck-book-image{width:100% !important;padding:0 16% 0 0 !important;height:274px;}
    .ck-page-container .ck-page-content{margin:0 1%;}
    .ck-book-content .ck-moshakhasat-left{margin-bottom:6px !important;}
    .ck-book-content .ck-kharid-ketab{height:76px !important;}
    .ck-book-content .ck-kharid-ketab h3{margin-top:29px !important;margin-right:3px !important;}
    .ck-book-content .ck-moshakhasat-left .ck-right h3{margin-right:0 !important;}
    .ck-book-content .ck-moshakhasat-left .ck-left img{width:26px;}
    .ck-page-article .ck-book-name h1{font-size:10px !important;margin-top:16px !important;}
    .ck-comment-header img{margin:13px 1% 0 0 !important;width:30px;}
    .ck-page-container .ck-page-content{padding-top:130px ;}
    .ryy-index-content {margin-top: 0!important;padding-top: 0!important;}
    .ck-page-article .ck-book-characteristic{margin-top:11px !important;}
    .ck-book-content .ck-go-toright, .ck-book-content .ck-moshakhasat-left{margin-top:2px !important;}
    .ck-page-container .ck-page-show ul li{font-size:10px !important;}
    .ck-page-container .ck-page-show ul i{margin-right:3px !important;margin-top:-4px;}
    .ck-page-container .ck-page-show ul{margin-top:7px !important;}
    .ck-page-article .ck-book-name .ck-rights, .ck-page-article .ck-book-name .ck-lefts{width:13px !important;height:100% !important;%}
    .ck-footer .ck-right-footer{margin-right:2px !important;width:99% !important;}
    .ck-footer .ck-right-footer ul{margin-left:12px !important;}
    .ck-footer .ck-left-footer{width:100% !important;margin-left:4% !important;}
    .ck-footer .ck-first{font-size:11px !important;}
    .ck-footer .ck-right-footer ul li{font-size:11px !important;}
    .ck-footer .ck-left-footer h3{font-size:11px !important;}
    .ck-footer .ck-right-footer{float:none !important;border-left:none !important;border-bottom:1px solid white;}
    .ck-footer .ck-left-footer{float:none !important;padding:0 2px !important;}
    .ck-footer .ck-footer-low h3{font-size:9px !important;}
    .ck-footer .ck-left-footer .ck-left-last{margin-top:24px !important;}
}
@media only screen and (max-width: 399px){
    .f-12 {
        font-size: 11px!important;
    }
}
@media only screen and (max-width: 361px){
    .f-12 {
        font-size: 10px!important;
    }
}

@media only screen and (max-width: 699px){
.woocommerce ul#shipping_method li {
    display: flex;
    
}
	
    .heightBlPop {
        min-height: 177px!important;
    }
    .ryBtnPrev {
        position: absolute;
        top: 47% !important;
        z-index: 1;
        left: 0;
        background-color: white;
        padding: 11px 8px 8px 11px;
        color: #707070;
        font-size: 28px;
        border-radius: 0 6px 6px 0;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    }
    .ryBtnNext {
        position: absolute;
        top: 47%!important;%;
        right: 0 !important;
        padding: 6px 3px 1px 5px;
        z-index: 1;
        background-color: white!important;
        padding: 11px 8px 8px 11px;
        color: #707070;
        font-size: 28px;
        border-radius: 6px 0 0 6px;
        background: none;
    }
    .activeVideoPopUp{
        padding-top: 45%!important;
    }
    .slideDownModal{
        right: 0;
        top: 0!important;
    }
    .closeBtn{
        left: 0!important;
        top: 0!important;
    }
    .ck-book-image{width:100% !important;padding:0 16% 0 0 !important;height:auto!important;}
    .stdviewvideo {
        width: 100%;
        height: 275px;
        max-height: 275px;
        background-color: #a8cf45;
    }
    .ry--ry-items{
        height: 290px!important;
    }
    .pod-4 {
        cursor: pointer;
        font-size: 19px;
        height: auto;
    }
    .ry-headset i {
        font-size: 32px!important;

    }
    .ry-headset span,.ry-headset .ry-ph-c{
        display:none;
    }
    .ry-headset {

        bottom: 16px!important;
        left: 12px!important;

    }
    .ry-lefts{
        right: 12px!important;
        left: auto!important;
    }
    #ry-film-add-to-shop1{
        width:100%!important;
    }
    #ry-film-add-to-shop{
        display:none;
    }
    .header_main .header_main--title{
        margin-top:67px!important;
    }
    .firstpage__header {
        padding-top:17px;
    }
    .firstpage__header>.container .header_main .header_main--description{
        display:none;
    }
    .ry-btn-add-to-cart{
        position: fixed;
        bottom: 0;
        margin: 0!important;
        z-index: 10;
        height: 59px;
        width: 100%;
        right: 0;
        border-radius: 0;
    }
    .wc-proceed-to-checkout a,#place_order,#BankSaderat-payment-button{
       width: 100%;
        text-align: center;
        height: 50px;
        padding-top: 13px !important;
        font-size: 17px !important;
        z-index: 256666;
        margin: 0;
        color: white;
        background-color: white;
        position: fixed;		
    }
    .wc-proceed-to-checkout,.place-order,#BankSaderat-payment-button{
        right: 0;
        position: fixed;
        bottom: 0;
        width: 100%;
        margin: 0!important;
        background-color:#ed3237;
        height: 50px;
        z-index: 10000;
    }
    .ry-f-mmmm{
        margin-top: 24px;
    }

    .ry-bargains {

        margin-top: 16px;
    }
    .ry-show-content {
        margin-top: 5px;
    }
    .ck-basket-content i {
        font-size: 22px!important;
    }
    .ck-basket-content {
        position: relative;
        float: left;
    }
    #menu .ck-seach i, #menu .ck-active-menu i {
        font-size: 22px;
        margin-top: 9px;
        color: #000;
    }
    .ck-basket-content {
        margin-right: 0;
        margin-top:3px;
    }
    .ostad-attr p{
        width:50%;
    }
    .ry-fiilllmm {

        width: 48%!important;
    }
    .ry-hedear-filmss {

        margin-bottom: 24px;
        font-size: 21px;
    }
    .ry-product-caroser .swiper-container {
        padding: 0px 20px!important;
    }
    .index-article .container {
        padding: 12px;
    }
    .ry-section .swiper-slide{
        border-radius:18px;
    }
    .ry-product-caroser .swiper-slide{
        padding:12px;
    }
    .ry-fast-accsess .col-lg-4,.ry-fast-accsess .col-lg-2{
        margin-bottom:5px;
    }
    .ry-fast-accsess{
        padding:0!important;
    }
    .header_codeLineImage{
        padding:0;
    }
    .header_main{
        padding:0!important;
    }
    .ry-product-carosell{
        padding:0!important;
    }
    .ry-product-caroser{
        padding:0!important;
    }
    .index-article .article{
        padding:0!important;
    }
    .ryy-index-content{
        margin-top:0!important;
        padding-top:0!important;
    }
    .ry-video-gh .video-js{
        height: 210px;
    }
    .ry-head-video h1 {
        font-size: 14px;
    }
    .ry-ostad-content {
        text-align: center;
        width: 100%;
    }
    .ry-ostad-content .ostad-pic .ry-o-p {
        margin: auto;
    }
    .ry-post-rating {
        margin-top: 6px;
    }
    .ry-main-video {
        margin-top: 37px;
    }
    .ry-v-c-t {
        border-radius: 18px;
        top: -23px;
        right:0;
        width:100%;
    }
    .ry-ostad-content {
        margin-top: 39px;
    }
    .ry-right-v-h,.ry-left-v-h {
        top: -18px;
    }
    .ry-rrrrr-mmm .ry-btn-add-to-cart{
        position: relative!important;
        z-index:0;

        border-radius: 16px;
    }
    .ry-p-d-l{
        padding:0;
        z-index:1;
    }
    .ry-product-detail {

        padding: 10px 0px;
    }
    .ry-check{
        display:none;
    }
    .ry-bargains{
        margin-top:0;
        margin-right: 14px!important;
    }
    .ry-last-price {
        margin-top: 0!important;
        margin-right:4px;
    }
    .ry-addddd{
        padding:0;
    }
    .ry-p-st{
        z-index: 9;
    }
    .ck-basket-content .ck-in-baskets{
        top: 46px!important;
        display:none!important;
    }
    #wpadminbar{
        display:none;
    }
    .ry-btn-login{
        margin-top: 46px;
    }
    .ck-mobile-item-container{
        margin-top: 10px!important;
    }
    .woocommerce table.cart .product-thumbnail{
        display: block!important;
        text-align: center!important;
        width: 104px;
        margin: auto;
        border: navajowhite;
    }
    .ry-register-content{
        padding:0!important;
    }
    .ry-article{
        padding:0!important;
    }
    .ry-padding {
        padding: 40px 9px!important;
    }
    .ry-live-vv{
        padding-top:45px!important;
    }
    .ry-mmmma{
        margin-top:10px;
    }
    .ry-record-teacher{
        padding: 0;
    }
    #myVideo_html5_api{
        width: 100%;
        min-height: 200px;
        position: unset!important;
        max-height: 300px;
    }
    .ry-commenting-container{
        position: fixed;
        bottom: 0;
        right: 0;
        height: 47px;
        z-index: 99999;
        margin-bottom: 0px;
        border-radius: 0;
    }
    .ry-chat-std {
        background-color: #ed3237;
        border-radius: 0;
        height: 47px;
        margin-bottom: 6px;
        padding-right: 0;
        padding-bottom: 0;
    }
    #std-com {
        height: 46px;
        font-size: 13px;
    }
    #changetoscreen{
        display:none;
    }
    .ry-proffile .ck-page-rightsidebar{
        display:block!important;
        width:100%!important;
    }
    .ry-proffile .ck-page-content{
        padding-top: 40px;
    }
    .ry-proffile .col-lg-12{
        padding:0!important;
    }
    .plyr audio, .plyr video {
        height: 100%!important;

    }
    #test_video{
        padding:0;
    }
    .ry-send-btn{
        padding: 8px 21px 0 0;
    }
    .ry-f-title {
        font-size: 12px;
        line-height: 21px;
    }
    .ry-cccc {
        font-size: 14px!important;
    }
    .ry-film-title{
        height: 42px;
    }
    .ry-liveee {
        position: absolute!important;
        right: 47px;
    }
    .ry-class-shop .ry-btn-add-to-cart {
        position: relative!important;

    }
    .pw-gateway-submit{
        right: 0!important;
        position: fixed!important;
        bottom: 0;
        width: 100%;
        margin: 0!important;
        background-color: #ed3237!important;
        height: 50px;
        z-index: 10000;
        border-radius: 0!important;
    }
    .woocommerce ul.order_details li {
        font-size: 13px!important;
        color: #a8cf45;
        padding: 2px;
    }
    .ck-page-container .ck-page-show{
        display:none;
    }
    .ck-page-container .ck-page-content {
        padding-top: 87px;
    }
    .ry-kh-rz .ry-im-res{
        width:100%;
    }
    .ry-kh-rz .col-3{
        padding:3px;
    }
    .ry-c-kh {
        font-size: 9px;
        font-weight: bold;
        color: #373637;
    }
    .ck-footer .ck-right-footer ul {
        margin-left: 13px !important;
    }
    .ck-tozhihat-ketab .ck-tozih{
        padding:0;
    }
    .vc_row {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
    .woocommerce table.cart .product-thumbnail{
        width: 131px;
        border-radius: 40px;
    }
    .vc_column_container>.vc_column-inner {
        padding-left: 5px!important;
        padding-right: 5px!important;
    }
    .woocommerce table.shop_table_responsive tr td, .woocommerce-page table.shop_table_responsive tr td {
        display: block;
        text-align: right!important;
    }
    .ry-bargain{
        font-size: 15px;
    }
    #place_order{
        height: 43px;
        padding-top: 0 !important;
        position: fixed;
        border: none;
        z-index: 9999;
    }
    .woocommerce-cart-form__cart-item td{
        float:right;
    }
    .woocommerce-cart-form__cart-item .product-remove{
        clear:both;
    }
    .ck-page-content .ck-page-article table td{
        
    }
    .shop_table .woocommerce-cart-form__cart-item{
        min-height: 120px;

    }
    .shop_table .product-remove{
        width: 8%!important;
    }
    .shop_table .product-thumbnail{
        width: 23%!important;
    }
   
    .shop_table .product-subtotal{
        width: 100%!important;
        text-align: center!important;
    }
    td.product-subtotal {
        background-color: #a8cf45!important;
    }
    .actions .button{
        margin-top: 14px!important;
        height: 38px!important;
        background-color: red!important;
    }
    .woocommerce-notice {
        color: red;
        text-align: center;
        font-size: 19px;
        padding: 0;
    }
    .woocommerce-order-overview__email{
        display:none;
    }
    .woocommerce ul.order_details {
        margin: 0!important;
        list-style: none;
        font-size:11px;
    }
    .download-remaining{
        display:none!important;
    }
    .woocommerce ul.order_details li{
        font-size:11px!important;
    }
    .woocommerce ul.order_details{
        padding:4px!important;
    }
    .woocommerce-MyAccount-downloads-file{
        line-height:23px!important;
    }
    .woocommerce .blockUI.blockOverlay::before{
        top: 4%!important;
        right: 29%!important;

    }
}