.swiper-container {
    height: 80%;
    width: 70%;
    top: 15%;
}
.swiper-slide {
    width: 100px
}
.swiper-slide img {
    width: 100%;
    height: 100%;
}
@media only screen and (max-width: 500px), (max-device-width: 500px){

}